fastapi
uvicorn
pydantic
sqlalchemy
huggingface_hub
pypdf
python-multipart
supabase
langchain-community
langchain-huggingface
langchain-text-splitters
python-dotenv
sentence-transformers
psycopg2-binary